* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 25, 43);
    color: white;
    font-size: 3rem;
    margin: 0%;
    flex-flow: column;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}

h1, p {
    text-align: center;
}